<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark nav-title-slide-ios7 bar">
      <ion-nav-buttons side="left">
        <button id="menuToggleLeftButton" menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">

      </ion-nav-buttons>
      <!--<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>-->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-dark">
      <img src="img/logo-small.png"/>
    </header>
    <ion-content class="has-header">
      <ion-list>

      </ion-list>
    </ion-content>

    <ion-footer-bar class="col-center row-center">
      Made with &nbsp; <i style="color: #ff0000" class="ion-heart"></i>&nbsp; by mattomatt
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
